<h2>Leave Your Comments</h2>
<div id="footer">
        <form action="/action_page.php">
          <label for="fname">Title</label>
          <input type="text" id="tname" name="title" placeholder="Title">
      
          <label for="lname">Content</label>
          <input type="text2" id="comments" name="comments" placeholder="Your comment">
      
          <label for="country">Ranking</label>
          <select id="country" name="country">
            <option value="australia">5 Star</option>
            <option value="canada">4 Star</option>
            <option value="usa">3 Star</option>
            <option value="usa">2 Star</option>
            <option value="usa">1 Star</option>
          </select>
        
          <input type="submit" value="Submit">
        </form>
      </div>
