<div class="container">
  <div class="row">
    <div class="col-sm-12"><h2>Browse Providers</h2></div>
    <!-- Filters -->
    <div class="col-sm-12">
      <div class="">
        <form class="row" [formGroup]="searchForm">
          <div class="col-sm-6">
            <mat-form-field class="info">
              <mat-label>Search by:</mat-label>
              <input
                (input)="handleChange($event.target.value)"
                type="text"
                autocomplete="off"
                placeholder="Service provider information"
                formControlName="text"
                matInput
              />
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field>
              <mat-label>Provider Type</mat-label>
              <mat-select
                placeholder="Provider Types"
                (selectionChange)="handleTypeChange($event.value)"
                formControlName="type"
              >
                <mat-option
                  *ngFor="let type of providerTypes"
                  [value]="type.value"
                >
                  {{ type.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <!-- Providers -->
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-12">
          <span class="new-provider-msg" [hidden]="loading || !noProvider">There are no providers found.<br/></span>
          <span class="new-provider-msg" [hidden]="loading || !this.userService.isAuthenticated">Do you want to add a
            <span class="new-provider-link" (click)="openAddNewProviderPopup()">new provider?</span>
          </span>
        </div>
        <div class="col-sm-12" [hidden]="!loading">
          <mat-progress-bar
            class="loading"
            mode="indeterminate"
          ></mat-progress-bar>
        </div>
        <div
          class="col-sm-12"
          *ngFor="let provider of (allProviders | async)?.providers"
        >
          <app-provider-card [provider]="provider"> </app-provider-card>
        </div>
        <app-paginator class="col-sm-12" [hidden]="loading"
          [(page_index)]="this.providersService.pageIndex" [item_per_page]="10"
          [item_name]="'providers'" [has_next]="this.providersService.has_next"
          [onChangeIndex]="onPaginateChange.bind(this)"></app-paginator>
      </div>
    </div>
  </div>
</div>
