<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form [formGroup]="resetPasswordForm">
        <div fxLayout="column"
          fxLayoutAlign="center center">
          <mat-form-field>
            <input matInput
              placeholder="Password"
              formControlName="password"
              type="password">
          </mat-form-field>
          <button (click)="auth.resetPassword(resetPasswordForm, token)"
            mat-raised-button
            color="primary"> Reset Password </button>
        </div>
      </form>
    </div>
  </div>
</div>
