<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <ul>
    <li>
        <a href="#"><img src="bg.jpg" style="width:270px;height: 250px; padding-top: 20px;"/></a>
    </li>
    <li><strong> MDM Custom Remodeling </strong><a class="fa fa-check-circle" style="font-size:17px;padding-left: 15px;"> Verified</a></li>
    <li>
        <a class="fa fa-star" style="font-size:17px;padding-left: 15px;"></a>
        <a class="fa fa-star" style="font-size:17px;padding-left: 15px;"> </a>
        <a class="fa fa-star" style="font-size:17px;padding-left: 15px;"></a>
        <a class="fa fa-star" style="font-size:17px;padding-left: 15px;"></a>
    </li>
    <li><strong>Serving</strong> Los Angeles and the Surrounding</li>
    <li><strong>Area Phone Number</strong> (323) 210 3350</li>
    <li><strong>Email</strong> happyhalloween@gmail.com</li>
    <li><strong>Service provided </strong>Bathroom Remodeling, Kitchen Remodeling, Room Addition</li>
  </ul>
  <div id="bottom">
      
        <a class="fa fa-facebook-square" style="font-size:27px;" href=""></a>
        <a class="fa fa-google" style="font-size:27px" href=""></a>
        <a class="fa fa-github" style="font-size:27px" href=""></a>
        <a class="fa fa-snapchat" style="font-size:27px" href=""></a>
      
    </div>
 
</nav>


