// Box on right with review button
.Review-actionBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.Review-title {
  margin-bottom: 0px;
}
.Review-rating--avg {
  position: relative;
  top: -2px;
}

.Provider-reviewRating {
  margin-top: -10px;
}
.Provider-verificationStatus {
  font-size: 1rem;
  i {
    position: relative;
    top: 4px;
    color: red;
  }
}

.Social-share--container {
  display: flex;
  &Left {
    display: flex;
  }
  &Right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .Social-share {
    display: flex;
    margin-left: 5px;
    &--fb {
      margin-top: -4px;
    }
  }
}

.date {
  float: right;
  color: gray;
}

.Social-share--container{
  float: right;
}

.map {
  height: 230px;
  border: 3px solid gray;
  padding: 0;

  agm-map {
    height: 100%;
  }

  .invalid-map {
    display: block;
    margin: 13px auto;
    opacity: 0.2;
  }
}

.outer-button {
  width: fit-content;
  height: fit-content;
}

.add-review-btn {
  float: right;

  button {
    height: 28px;
    line-height: 28px;
  }
}

.edit-profile {
  min-width: 36px;
  color: gray;
  padding: 0;
  border-radius: 18px;
}

.row {
  .no-review-msg {
    color: gray;
  }

  .new-review-link {
    color: blue;
    cursor: pointer;
  }
}

.loading-img {
  margin: auto;
  display: block;
}
