<form [formGroup]="providersForm">
  <div class="row">
    <div class="col-sm-12">
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="providersForm.get('name').hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="providersForm.get('name').hasError('pattern')">
          Name cannot contain <strong>numbers</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field>
        <mat-select
          placeholder="Provider Types"
          formControlName="type"
          [errorStateMatcher]="matcher"
        >
          <mat-option *ngFor="let type of providerTypes" [value]="type.value">
            {{ type.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field>
        <input
          matInput
          placeholder="Phone Number (XXXXXXXXXX)"
          formControlName="phone_number"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="providersForm.get('phone_number').hasError('required')"
        >
          Phone Number is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="
            providersForm.get('phone_number').hasError('minlength') ||
            providersForm.get('phone_number').hasError('maxlength')
          "
        >
          Phone Number is not <strong>valid</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="
            providersForm.get('email').hasError('email') &&
            !providersForm.get('email').hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="providersForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-sm-12">
      <mat-form-field>
        <input
          matInput
          placeholder="Street"
          formControlName="street"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="providersForm.get('street').hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input
          matInput
          placeholder="City"
          formControlName="city"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="providersForm.get('city').hasError('required')">
          City is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="providersForm.get('city').hasError('pattern')">
          City cannot contain <strong>numbers</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <mat-select
          placeholder="State"
          formControlName="state"
          [errorStateMatcher]="matcher"
        >
          <mat-option>None</mat-option>
          <mat-option
            *ngFor="let state of this.providers.states"
            [value]="state"
            >{{ state.abbr }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="providersForm.get('state').hasError('required')">
          State is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field>
        <input
          matInput
          placeholder="Zip"
          formControlName="zip"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="providersForm.get('zip').hasError('required')">
          Zipcode is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="
            providersForm.get('zip').hasError('minlength') ||
            providersForm.get('zip').hasError('maxlength')
          "
        >
          Zipcode is <strong>invalid</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <button
        mat-raised-button
        [disabled]="!providersForm.valid"
        (click)="onSubmit(this.submitCb, this.providersForm)"
        color="primary"
      >
        {{ action }} Provider
      </button>
    </div>
  </div>
</form>
