<!-- <div class="row">
  <div class="col-sm-6">
    <h1>
      Find Reputable Service Providers For Your Real Estate Project
    </h1>
    <h3> Including Loan Providers, Contractors, Property Managers and more!</h3>
    <a (click)="authComp.openSignupDialog()"
      mat-raised-button
      color="accent">Sign Up Today</a>
  </div>
  <div class="col-sm-6">
    <img style="width:100%;"
      src="https://loremflickr.com/640/480/houses,architecture/all">
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <h4> Investor Tracking Tool </h4>
    <p> Access a free investor tracking tool so you can better manage your properties.</p>
  </div>
  <div class="col-sm-4">
    <h4> Verified Businesses </h4>
    <p> We verify users on the platform so you can be sure the businesses are legitimate. </p>
  </div>
  <div class="col-sm-4">
    <h4> Trusted Reviews </h4>
    <p> Browse through the hundreds of reviews given from verified users. </p>
  </div>
</div> -->


<div class="Home-banner--bg">
  <div class="a" [ngClass]="panel_status" (mouseleave)="expand_panel($event, '')">
    <div class="right panel">
      <div class="cover"></div>
      <div class="content before-hover">
        <h2>Providers</h2>
        <h4>Find your best real estate providers</h4>
      </div>
      <div class="content after-hover">
        <h2>Providers</h2>
        <h4>Find providers and see contract</h4>
        <h4>and check their reviews</h4>
        <button class="browse" mat-button>Browse Providers</button>
        <span></span>
      </div>
      <div class="hover-area"
           routerLink="/providers"
           routerLinkActive="active"
           (mouseenter)="expand_panel($event, 'right')"></div>
    </div>
    <div class="b">
      <div class="left panel">
        <div class="cover"></div>
        <div class="content before-hover">
          <h2>Investments</h2>
          <h4>Start tracking your investments</h4>
        </div>
        <div class="content after-hover">
          <h2>Investments</h2>
          <h4>Check your investments status</h4>
          <h4>and update information</h4>
          <button class="browse" mat-button>Track Providers</button>
        </div>
        <div class="hover-area"
             routerLink="/investments"
             routerLinkActive="active"
             (mouseenter)="expand_panel($event, 'left')"></div>
      </div>
      <div class="c"></div>
    </div>
  </div>

  <div class="desc">
    <h2>Real Estate Investment and Review Tool</h2>
    <h4>An online resource to help real estate investors track investments and evaluate resources related to property scouting, acquisition, maintenance, and management through community reviews and referrals.</h4>
  </div>
</div>
