<div id="intro"> 
       <h3> <h2> As a true entrepreneur,</h2> Mark’s real estate career in 1991 and quickly developed a successful real 
           estate sales business. With that success came the opportunity to branch out on his own and in 
           2000 Mark launched his own brokerage firm, von Kaenel Real Estate, where he grew not only his 
           sales business but also developed a property management business as a means to fully service 
           to his clients. Dedicated to elevating the standard of Bay Area real estate, von Kaenel Real 
           Estate grew into a top-rated independent brokerage firm.That recognition led to the opportunity 
           to become a part of the world’s largest, real estate firm and the creation of Keller Williams 
           Bay Area Estates in 2013.
       </h3>
       <hr>
</div> 
