a {
  margin: 0 15px;
}

span.spacer {
  flex: 1 1 auto;
}

.profile {
  margin-left: 15px;
  margin-right: 15px;
}

mat-toolbar mat-icon {
  font-size: 30px;
  line-height: 24px;
  cursor: pointer;
}
