<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button mat-raised-button class="float-left mr-2" color="primary" routerLink="/investments" routerLinkActive="active">
        Back to Investments
      </button>
      <button mat-raised-button class="float-right mr-2" color="primary" (click)="openExpenseDialog()">
        Add Expense
      </button>
    </div>
    <div class="col-sm-6" style="margin-top:10px">
      <h2>Property Details</h2>
      <dl>
        <dt>Purchase Date</dt>
        <dd>{{ (investment | async)?.purchase_date | date }}</dd>

        <dt>Address</dt>
        <dd>{{ (investment | async)?.address }}</dd>

        <dt>Price</dt>
        <dd>{{ (investment | async)?.price }}</dd>

        <dt>Monthly Rent</dt>
        <dd>{{ (investment | async)?.monthly_rent | currency: 'USD' }}</dd>

        <dt>Mortgage Amount</dt>
        <dd>{{ (investment | async)?.mortgage_amount | currency: 'USD' }}</dd>

        <dt>Mortgage Downpayment</dt>
        <dd>
          {{ (investment | async)?.mortgage_downpayment | currency: 'USD' }}
        </dd>

        <dt>Mortgage Interest Rate</dt>
        <dd>
          {{ (investment | async)?.mortgage_interest_rate | percent: '1.1-2' }}
        </dd>
      </dl>
    </div>
    <div class="col-sm-6">
      <canvas id="investmentChart" width="400" height="400"></canvas>
    </div>
    <div class="col-sm-12">
      <h2>Expense Details</h2>
      <dl>
        <div *ngFor="let expense of (investment | async)?.expenses">
          <hr>
          <dt>
            {{ expense.title }} - {{ expense.price | currency: 'USD' }}
            <i class="material-icons" (click)="deleteExpense(expense.id)">
              highlight_off
            </i>
            <i class="material-icons" (click)="editExpense(expense.id)">
              edit
            </i>
          </dt>
          <dd>{{ expense.description }}</dd>
          <dt> Date </dt>
          <dl> {{ expense.date | date }} </dl>
        </div>
      </dl>
    </div>
  </div>
</div>
