@import 'variables.scss';

.Nav {
  // Fix for drop menu link
  .ng-star-inserted a {
    &:hover {
      cursor: mouse;
    }
    padding-bottom: 7px;
  }
  a {
    color: $Nav-color--text;
    border-bottom: 2px solid transparent;
    margin: 0 1rem;
    font-family: $Heading-font;
    font-size: $Nav-size--primary;
    &:not(.Nav-logo):hover {
      text-decoration: none;
      border-bottom: 2px solid $Nav-color--text;
    }
  }
  .Nav-left {
    display: flex;
  }
  .Nav-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .Nav-logo {
    display: flex;
    justify-content: flex-start;
    img {
      width: 80px;
      height: 40px;
    }
  }
  .mat-toolbar.mat-primary {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    // Nav item size
    span {
      font-size: $Nav-size--primary;
    }

    // Home Nav
    .Home-body & {
      background: transparent;
      position: fixed;
      z-index: 10;
      color: $white;
    }
  }
}
