<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form [formGroup]="signupForm">
        <mat-form-field class="fullWidth">
          <input matInput
            placeholder="Email"
            formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput
            placeholder="Password"
            formControlName="password"
            type="password">
        </mat-form-field>
        <button (click)="signup()"
          mat-raised-button
          color="primary"> Signup </button>
      </form>
    </div><!-- /.col-sm-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
