<form [formGroup]="investmentForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field class="fullWidth">
        <input
          #googleAddress
          [autoCompleteAddress]="this.onChangeAddress.bind(this)"
          matInput
          placeholder="Address"
          formControlName="address"
        />
        <!--
          <mat-error *ngIf="investmentForm.get('address').hasError('required')">
            Address is <strong>required</strong>
          </mat-error>
        -->
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field>
        <input
          matInput
          appCurrency
          [value]="investmentForm.get('price').value"
          (blur)="priceUpdated()"
          placeholder="Purchase Price"
          formControlName="price"
        />
        <!--
          <mat-error *ngIf="investmentForm.get('price').hasError('required')">
            Price is <strong>required</strong>
          </mat-error>
        -->
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input
          matInput
          appCurrency
          [value]="investmentForm.get('monthly_rent').value"
          placeholder="Monthly Rent"
          formControlName="monthly_rent"
        />
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field>
        <input
          #downPayment
          matInput
          appCurrency
          [value]="investmentForm.get('mortgage_downpayment').value"
          placeholder="Mortgage Downpayment"
          formControlName="mortgage_downpayment"
        />
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input
          #mortgageAmount
          matInput
          appCurrency
          [value]="investmentForm.get('mortgage_amount').value"
          placeholder="Mortgage Amount"
          formControlName="mortgage_amount"
        />
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field>
        <input
          matInput
          appPercentage
          [value]="investmentForm.get('mortgage_interest_rate').value"
          placeholder="Mortgage Interest Rate"
          formControlName="mortgage_interest_rate"
        />
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input
          matInput
          [value]="investmentForm.get('mortgage_period').value"
          placeholder="Mortgage Period (Years)"
          formControlName="mortgage_period"
        />
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!investmentForm.valid"
      >
        {{ action }} Investments
      </button>
    </div>
  </div>
</form>
