<form [formGroup]="investmentForm">
  <div fxLayout="row"
    fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field class="fullWidth">
        <input #googleAddress
          matInput
          placeholder="Address"
          formControlName="address">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field #priceFieldRef>
        <input matInput
          [value]="investmentForm.get('price').value"
          (blur)="updateCurrency($event, 'price')"
          (focus)="resetField('price')"
          placeholder="Purchase Price"
          formControlName="price">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input matInput
          [value]="investmentForm.get('monthly_rent').value"
          (blur)="updateCurrency($event, 'monthly_rent')"
          (focus)="resetField('monthly_rent')"
          placeholder="Monthly Rent"
          formControlName="monthly_rent">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field>
        <input matInput
          [value]="investmentForm.get('mortgage_downpayment').value "
          (blur)="updateCurrency($event, 'mortgage_downpayment')"
          (focus)="resetField('mortgage_downpayment')"
          placeholder="Mortgage Downpayment"
          formControlName="mortgage_downpayment">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input matInput
          [value]="investmentForm.get('mortgage_amount').value"
          (blur)="updateCurrency($event, 'mortgage_amount')"
          (focus)="resetField('mortgage_amount')"
          placeholder="Mortgage Amount"
          formControlName="mortgage_amount">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="column">
    <div fxFlex>
      <mat-form-field>
        <input matInput
          [value]="investmentForm.get('mortgage_interest_rate').value | percent: '1.1-2'"
          (blur)="updatePercent($event, 'mortgage_interest_rate')"
          (focus)="resetField('mortgage_interest_rate')"
          placeholder="Mortgage Interest Rate"
          formControlName="mortgage_interest_rate">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input matInput
          [value]="investmentForm.get('mortgage_period').value"
          (focus)="resetField('mortgage_period')"
          placeholder="Mortgage Period"
          formControlName="mortgage_period">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="column">
    <div fxFlex>
      <button (click)="addInvestment()"
        mat-raised-button
        color="primary"> Add Investments </button>
    </div>
  </div>
</form>
