<br>
<div id="comment">
  <div id="column1">
      <img src="b.jpg" style="border-radius: 50%;width:90px;">
  </div>
  <div id="column2">
      <ul>
        <li>David H.</li>
        <li>Los Angeles, CA</li>
        <li>5 Reviews</li>
        <li>3 Photos</li>
      </ul>
  </div>
  <div id="column3">
     
      <a class="fa fa-star" style="font-size:27px;padding-left: 10px;"></a>
      <a class="fa fa-star" style="font-size:27px;padding-left: 10px;"></a>
      <a class="fa fa-star" style="font-size:27px;padding-left: 10px;"></a>
      <a class="fa fa-star" style="font-size:27px;padding-left: 10px;"></a>
      <a class="fa fa-star" style="font-size:27px;padding-left: 10px;"></a>
      <a class="fa fa-thumbs-down" style="font-size:25px;padding-left: 20px;">45 </a>
      <a class="fa fa-thumbs-up" style="font-size:25px;padding-left: 15px;">12</a>
      <section id="text">
          Fremden lockere traurig ob im so. Messer sa hergab es la ja sachte. 
          Befangenen brotkugeln gearbeitet so messingnen te zu lehrlingen la. Dabei sog reden vor moget ahren adieu. 
          Da flusterton nettigkeit vergnugter er nachtessen. Gemacht endlich stellte alsbald du so bi welchem gelernt. 
          Ging doch magd art was die. 
          Da flusterton nettigkeit vergnugter er nachtessen. Gemacht endlich stellte alsbald du so bi welchem gelernt. 
          Ging doch magd art was die. 
      </section>
  </div>

</div>
