<h2 align="center">Login</h2>
<form [formGroup]="loginForm">
  <div fxLayout="row"
  fxLayout.xs=""
  *ngIf = "loginFailed">
    <div [@invalidLoginAlert] class="invalid-login" fxFlex>
      <p>The user credientials entered cannot be identified!</p>
    </div>
  </div>
  <div fxLayout=""
    fxLayout.xs="">
    <div fxFlex>
      <mat-form-field class="fullWidth">
        <input matInput
          placeholder="Email"
          formControlName="email">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="">
    <div fxFlex>
      <mat-form-field>
        <input matInput
          placeholder="Password"
          formControlName="password"
          type="password">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="">
    <div fxFlex>
      <mat-checkbox formControlName="has_two_factor">I have 2FA enabled</mat-checkbox>
      <mat-form-field *ngIf="loginForm.get('has_two_factor').value">
        <input matInput
          placeholder="Code"
          formControlName="code">
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="">
    <div fxFlex>
      <p>
        <a href="#"
          (click)="openResetPasswordDialog($event)"> Forgot password? </a>
      </p>
    </div>
  </div>
  <div fxLayout="row"
    fxLayout.xs="">
    <div fxFlex>
      <button (click)="login()"
        mat-raised-button
        color="primary"> Login </button>
    </div>
    <div fxFlex>
      <button (click)="reset()"
        mat-raised-button
        color="primary"> Reset </button>
    </div>
  </div>
</form>
