<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form [formGroup]="loginForm">
        <mat-form-field class="fullWidth">
          <input matInput
            placeholder="Email"
            formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput
            placeholder="Password"
            formControlName="password"
            type="password">
        </mat-form-field>
        <mat-checkbox formControlName="has_two_factor">I have 2FA enabled</mat-checkbox>
        <mat-form-field *ngIf="loginForm.get('has_two_factor').value">
          <input matInput
            placeholder="Code"
            formControlName="code">
        </mat-form-field>
        <p>
          <a href="#"
            (click)="openResetPasswordDialog($event)"> Forgot password? </a>
        </p>
        <button (click)="login()"
          mat-raised-button
          color="primary"> Login </button>
      </form>
    </div><!-- /.col-sm-6 -->
  </div><!-- /.row -->
</div><!-- /.container -->
