<mat-form-field class="info">
  <mat-label>Search by:</mat-label>
  <input [(ngModel)]="search_text"
    (keyup.enter)="searchServiceProvider()"
    type="text"
    autocomplete="off"
    placeholder="Service provider information"
    matInput>
</mat-form-field>
<mat-form-field>
  <mat-label>Provider Type</mat-label>
  <mat-select placeholder="Provider Types"
    formControlName="type">
    <mat-option *ngFor="let type of providerTypes"
      [value]="type.value">
      {{type.label}}
    </mat-option>
  </mat-select>
</mat-form-field>
