<div class="search">
  <mat-form-field class="info">
    <mat-label>Search service provider by</mat-label>
    <input type="text" placeholder="Service provider information" matInput>
  </mat-form-field>

  <mat-form-field class="type">
    <mat-label>Type is</mat-label>
    <mat-select>
      <mat-option *ngFor="let sp_type of service_provider_type_list" [value]="sp_type.label">
        {{sp_type.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-stroked-button class="btn">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="bottom">
  <div class="content">
    <div class="list">
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let sp of filterServiceProvider(); let i = index"
                       (click)="onClickServiceProvider(sp)" >
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <h3 mat-line class="sp-name" (mouseenter)="hoverServiceProvider(sp)" (mouseleave)="hoverServiceProvider(null)">
            {{sp.name}}&nbsp;&nbsp;&nbsp;-&nbsp;<i class="sp-type">{{sp.type}}</i>
          </h3>
          <p class="contact" mat-line (mouseenter)="hoverServiceProvider(sp)" (mouseleave)="hoverServiceProvider(null)">{{sp.phone_number}}</p>
          <p class="contact" mat-line (mouseenter)="hoverServiceProvider(sp)" (mouseleave)="hoverServiceProvider(null)">{{sp.email}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<div class="right" [hidden]="hover_sp==null">
  <div class="carousel">
    <mat-card class="right-card">
      <bar-rating [rate]="hover_sp?.rate" [max]="5" readOnly="true"></bar-rating>
      <div class="sp-info">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span mat-line class="sp-name">{{hover_sp?.name}}</span>
        <br/>
        <span mat-line class="sp-type">{{hover_sp?.type}}</span>
        <br/><br/>
        <span>{{hover_sp?.review}} </span>
        <br/><br/>
        <span><mat-icon class="info">call</mat-icon>{{hover_sp?.phone_number}}</span>
        <br/>
        <span><mat-icon class="info">alternate_email</mat-icon>{{hover_sp?.email}}</span>
        <br/>
        <br/>
        <span class="addr">{{hover_sp?.address.addr1}}</span>
        <span class="addr">{{hover_sp?.address.addr2}}</span>
      </div>
    </mat-card>
    <div class="map">
      <agm-map [latitude]="selected_sp? selected_sp.address.lat: default_map_pos.lat" [longitude]="selected_sp? selected_sp.address.lng: default_map_pos.lng"
               [(zoom)]="zoom_level">
        <agm-marker [latitude]="selected_sp? selected_sp.address.lat: default_map_pos.lat" [longitude]="selected_sp? selected_sp.address.lng: default_map_pos.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
