div.bottom {
  position: absolute;
  height: calc(100% - 150px);
  width: 100%;
  overflow-y: auto;
}

div.content {
  width: 70%;
  margin-top: 5px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sp_type {
  padding: 0px 10px;
}

.filter {
  width: fit-content;
  margin: auto;
}

div.list {
  width: 100%;
  height: calc(100% - 8px);
  display: inline-block;
}

mat-list-item /deep/ .mat-list-text *{
  cursor: pointer;
}

mat-list-item /deep/ .mat-list-text:hover *{
  font-weight: bold;
}

mat-list-item /deep/ bar-rating .br-unit {
  line-height: 18px;
}

mat-list-item /deep/ bar-rating .br.br-readonly {
  margin: 0px;
}

mat-list-item /deep/ bar-rating {
  float: left;
}

mat-list-item span.rate-detail {
  flaot: left;
}

mat-list-item h3.sp-name {
  font-size: 18px;
  padding-bottom: 3px;
  color: midnightblue;
}

mat-list-item .contact {
  padding-top: 3px;
}

mat-list-item div.side-item {
  float: right;
  width: 210px;
}

mat-list-item div.side-item p {
  margin: 0px;
}

mat-list-item .mat-list-icon {
  height: auto !important;
  width: auto !important;
  font-size: 50px !important;
  color: rgba(0, 0, 0, 0.54);
}

mat-list-item /deep/ .mat-list-text {
  width: fit-content !important;
  padding-left: 10px !important;
}

mat-list-item /deep/ .mat-list-text * {
  padding-right: 10px;
}

span.sp-type {
  font-size: 14px;
}

.side-item button.mat-stroked-button {
  line-height: 21px;
  width: 80%;
  min-width: 138px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

mat-list-item div.side-item p {
  font-size: 13px;
  text-align: center;
}

mat-list-item div.side-item mat-icon {
  font-size: 17px;
  line-height: 24px;
}

div.search {
  margin: auto;
  width: 70%;
  min-width: 700px;
}

div.search .info {
  width: calc(100% - 230px);
}

div.search .type {
  width: 180px;
}

div.search .location {
  width: 180px;
}

div.search .btn {
  line-height: 43px;
  width: 43px;
  min-width: 43px;
  vertical-align: top;
  padding: 0;
  border-radius: 5px;
  margin-top: 1px;
}

.mat-button-toggle.mat-button-toggle-checked {
  color: #EDB867;
}

div.right {
  width: 450px;
  vertical-align: top;
  position: absolute;
  right: 15%;
}

div.right div.map {
  margin: 0px 9px;
  height: 200px;
}

agm-map {
  height: 100%;
}

div.right div.carousel {
  height: 250px;
  margin: 15px 10px;
  position: relative;
}

div.right div.carousel mat-card {
  padding: 6px 7px;
}

div.right div.carousel mat-card .mat-list-icon {
  height: auto !important;
  width: auto !important;
  font-size: 86px !important;
  color: rgba(0, 0, 0, 0.54);
  float: left;
}

div.right div.carousel mat-card .description {
  float: left;
}
div.right div.carousel mat-card .sp-info {
  border: 1px solid ghostwhite;
  border-radius: 5px;
  padding: 13px;
}

div.right div.carousel mat-card .sp-info bar-rating {
  margin: 0px;
  line-height: 18px;
}

div.right div.carousel mat-card .sp-info bar-rating /deep/.br{
  margin: 0px;
}

div.right div.carousel mat-card .sp-info .sp-name {
  font-size: 30px;
  font-weight: bold;
  padding-top: 14px;
  display: inline-block;
  margin-left: 5px;
}

div.right div.carousel mat-card .sp-info .sp-type {
  font-size: 18px;
  margin-left: 8px;
}

div.right div.carousel mat-card bar-rating /deep/ .br {
  position: absolute;
  right: 15px;
  top: 5px;
  margin: 0;
}

div.right div.carousel .info {
  font-size: 15px;
  font-weight: bold;
  height: auto;
  width: auto;
  margin-right: 7px;
}

div.right div.carousel .addr {
  display: block;
  text-align: right;
}

.right-card {
  background-image: linear-gradient(-45deg, #c3cfe2, #f5f7fa);
}

.right-card:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 5px;
  left: auto;
  width: 50%;
  top: 80%;
  box-shadow: 0 15px 10px #777;
  transform: rotate(6deg);
}
